.Analytics{
    margin-top: 20px;
    margin-left: 20px;
}

.ChartComponent{
    margin-top: 60px;
    background-color: #FFFFFF;
}

.StatCards{
    margin-top: 20px;
}

.prompt{
    color: #E84C3D;
}