.Profile .profile-tab-nav {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px;
    max-width: 40em;
    min-width: 21em;
    text-align: center;
    transition: visibility 0.5s;
}

.Profile .tab-container {
    padding: 20px;
    display: grid;
    max-width: 24em;
    min-width: 21em;
    height: 768px fixed;
}

.Profile .tab {
    cursor: pointer;
    text-align: center;
    color: #B7BCF3
}

.Profile .selected-tab {
    color: black;
    border-bottom: 2px solid black;
}